// Small tablets and large smartphones (landscape view)
$min576: 576px;

// Small tablets (portrait view)
$min768: 768px;

// Tablets and small desktops
$min992: 992px;

// Large tablets and desktops
$min1200: 1200px;
