@use "utility/colours";

// Small devices
@mixin sm {
   @media (min-width: #{$min576}) {
       @content;
   }
}

// Medium devices
@mixin md {
   @media (min-width: #{$min768}) {
       @content;
   }
}

// Large devices
@mixin lg {
   @media (min-width: #{$min992}) {
       @content;
   }
}

// Extra large devices
@mixin xl {
   @media (min-width: #{$min1200}) {
       @content;
   }
}

// Extra Extra large devices
@mixin xxl {
   @media (min-width: #{$min1440}) {
       @content;
   }
}

@mixin redborder {
  border: 2px solid red;
  border-radius: 15px;
  box-shadow: 7px 7px 5px #555;
}
