a {
  text-decoration: none;
}

h1 {

}

a:visited {
  color: inherit;
}

.main-header {
  color: white;
  text-align: center;
}

.contact-info h2 {
  display: block;
  width: 100%;
}

.contact-info p {
  display: block;
  width: 100%;
}


.contact-form p {
  background-color: white;
  margin: 0;
  display: table;
}

.scs-scheme ul {
  list-style: none;
  padding: 0;
}

.scs-scheme li {
}

.scs-scheme h2 {
  text-align: center;
}
