@use "utility/colours";

.submit-button {
  padding: 0.5rem;
  background-color: colours.$darkred;
  width: 100%;
  border-radius: 15px;
  border: 2px solid white;
  color: white;
  font-weight: bold;
  text-align: center;
}

.submit-button:hover {
  background-color: red;
}

.submit-button:active {
  box-shadow: inset 5px 5px 5px colours.$dropshadow-black;
}
