@use "utility/colours";

.github-icon {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  background: none;
  transition: background-color 0.5s ease;
}

.scs-container-header-img {
  width: 100%;
}
