@use "utility/colours";

@import "utility/breakpoints";
@import "utility/mixins";

.contactform-fieldset {
  margin: 0;
  padding: 0;
  border: none;
  display: flex;
  flex-wrap: wrap;

  @include sm {
    width: 100%;
  }
}

.fieldset-legend {
  color: red;
}

.main-contact input {
  @include inputfont;
  position: relative;
  display: block;
}

.main-contact input:focus {
  @include inputfocus;
}

.main-contact textarea {
  @include inputfont;
  resize: vertical;
  overflow: auto;

  scrollbar-base-color: white;
  scrollbar-face-color: red;
  scrollbar-3dlight-color: white;
  scrollbar-highlight-color: white;
  scrollbar-track-color: colours.$highlight;
  scrollbar-arrow-color: red;
  scrollbar-shadow-color: white;
  scrollbar-dark-shadow-color: white;
}

.main-contact textarea::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: colours.$highlight;
  box-shadow: inset 2px 2px 1px colours.$panel-border;
}

.main-contact textarea::-webkit-scrollbar {
  width: 12px;
}

.main-contact textarea::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: colours.$darkred;
  box-shadow: inset 1px 1px 1px white;
}

.main-contact textarea::-webkit-scrollbar-thumb:active {
  background-color: red;
}

.main-contact textarea:focus {
  @include inputfocus;
}

.contactform-field {
  @include inputformatting;
}

.contactform-textarea {
  @include inputformatting;
}
