@use "utility/colours";

@import "utility/breakpoints";
@import "utility/mixins";

.aboutme {
  display: flex;
  flex-direction: column;
  align-content: normal;
  height: 100vh;

  @include xsh {
    flex-direction: row;
  }
}

.about-container {
  @include redborder;
  padding: 0 15px;
  margin: auto;
  text-align: center;
  background: white;
  max-width: 300px;

  @include s {
    width: 325px;
  }

  @include md {
    width: 500px;
    max-width: none;
  }

  @include xsh {
    margin: 30px auto;
  }
}
