@import "utility/breakpoints";
@import "utility/mixins";

#coding-examples {

}

.coding-examples-container {
  @include redborder;
  max-width: 350px;
  padding: 0 15px;
  margin: auto;
  text-align: center;

  @include md {
    width: 50%;
  }

  @include xl {
    width: 35%;

  }

}
