@use "utility/colours";

@import "utility/breakpoints";
@import "utility/mixins";

.header-container {
  display: none;
  width: 205px;
  border-right: 2px solid red;
  height: 100%;
  position: fixed;
  background-color: white;
  box-shadow: 5px 0px 5px #555;

  @include sm {
    display: block;
  }

}

.header-initial {
  padding: 0 15px;
  font-size: 10rem;
  border-bottom: 2px solid red;
  text-align: center;

}

.header-nav {
  font-size: 15px;
  padding: 0 15px;
  border-bottom: 2px solid red;

}

.header-contact {
  font-size: 15px;
  padding: 0 15px;
  border-bottom: 2px solid red;
}

.header-socialmedia {
  display: flex;
  padding: 0 15px;

}

.socialmedia-item {
  margin: 1rem auto;
}
