@import "utility/breakpoints";
@import "utility/mixins";

*, :before, :after {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

main {
  width: 100%;
}

body {
  margin: 0;
}

.page-container {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.section {
  padding: 15px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  min-height: 100vh;

  @include sm {
    padding: 15px 15px 15px 220px;

  }

}

.container {
  margin: 0 -15px;
  display: flex;
  flex-wrap: wrap;
  padding: 15px;
}

#home {

}

.main-header {
  background-image: url(/images/denys-nevozhai-w7YCquMkv2c-unsplash.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
}

.scroll {
  margin: 0 auto;
}

.header-title-container {
  top: 50%;
  margin: auto;
  background: rgba(255, 255, 255, 0.55);
  padding: 15px;
  border-radius: 15px;
}

.scroll-container {
background: rgba(255, 255, 255, 0.55);
padding: 0 15px;
border-radius: 15px;
height: 200px;
}

.scroll-container:hover > .arrow {
  height: 75px;
  background-color: black;
}

.scroll-container:hover > .arrow:after {
border-left: 25px solid transparent;
border-right: 25px solid transparent;
  border-top: 50px solid black;
}

.arrow {
  margin: -15px auto 0;
  position: relative;
  width: 20px;
  height: 50px;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  top: 0;
  transition: height 0.3s ease-in;
}

.arrow:after {
  content: "";
  position: absolute;
  top: 100%;
  left: -70%;
  width: 0;
  height: 0;
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid black;
  transition: border 0.3s ease;
}
