@import "utility/breakpoints";
@import "utility/mixins";

.scs-scheme {
  display: flex;
  flex-wrap: wrap;
}

.scs-container {
  max-width: 350px;
  border: 2px solid red;
  padding: 0 15px;
  border-radius: 15px;
  margin: auto;

  @include sm {

  }

  @include md {
    width: 50%;
  }

  @include lg {
    color: purple;

  }

  @include xl {
    width: 35%;
    color: orange;

  }

}

.treehouse {
  margin-top: 15px;

@include sm {

}

@include md {
  width: 50%;
}

@include lg {
  color: purple;

}

@include xl {
  width: 35%;
  color: orange;

}
}

.about-netmatters {
  margin-top: 15px;

@include sm {

}

@include md {
  width: 50%;
}

@include lg {
  color: purple;

}

@include xl {
  width: 35%;
  color: orange;

}
}
